      <div class="panel panel-default visible-md-block visible-lg-block">
        <div class="panel-body">
          <h5 class="m-t-0">About <small>· <a href="#">Edit</a></small></h5>
          <ul class="list-unstyled list-spaced">
            <li><span class="text-muted icon icon-calendar m-r"></span>Went to <a href="#">Oh, Canada</a>
            <li><span class="text-muted icon icon-users m-r"></span>Became friends with <a href="#">Obama</a>
            <li><span class="text-muted icon icon-github m-r"></span>Worked at <a href="#">Github</a>
            <li><span class="text-muted icon icon-home m-r"></span>Lives in <a href="#">San Francisco, CA</a>
            <li><span class="text-muted icon icon-location-pin m-r"></span>From <a href="#">Seattle, WA</a>
          </ul>
        </div>
      </div>
