<header>
  <h1>Welcome to Gitarify!</h1>
  <h2>This is a temporary land page using Rails <%= Rails.version %></h2>
</header>

<section>
  <p>Future Dashboard page.</p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>